<body id="background1">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />


<center>
	<h1 class="header" style="padding: 70px 10px 10px 10px">Your dream pizza is...</h1>

<br>
<br>
<br>
<br>

<div id="block">
<div id="container1">

 <p class="body1">

<%= @name1%> |
<%= @name2%> |
<%= @name3%> 

<br>

<h class="h2">
<%= @name%>
<%= @name2%>
<%= @punchline%>
</h>
</div>
</div>
</p> 


</center>


</body>
