<p id="notice"><%= notice %></p>

<h1>Listing Punchlines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @punchlines.each do |punchline| %>
      <tr>
        <td><%= punchline.name %></td>
        <td><%= link_to 'Show', punchline %></td>
        <td><%= link_to 'Edit', edit_punchline_path(punchline) %></td>
        <td><%= link_to 'Destroy', punchline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Punchline', new_punchline_path %>
